* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  font-size: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  flex-wrap: wrap;
  border:none;
}


.cell0, .cell1, .cell2, .cell3{
  padding: 2px;
  border:none;
  background-color: gray;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: xx-small;
}

.cell0 {

  background-color: gray;
}

.cell1 {

  background-color: palevioletred;
}

.cell2 {

  background-color: greenyellow;
}

.cell3 {

  background-color: blue;
}
