* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  font-size: 0;
}

.app {
  max-width: fit-content;
  margin: auto;
}

.cell{
  padding: 2px;
  border:none;
  background-color: gray;
  display: inline-block;
  width: 20px;
  height: 20px;
}


.cell.on {

  background-color: yellowgreen;
  border: 1px solid black;
}
